.chat {
  height:100%;
  display:flex;
  flex-direction: row;
  align-content: stretch;

  .chat-list {
    border-top: 1px solid #222629;
    border-right: 1px solid #222629;
    width: 280px;
    overflow-y:auto;
    background: #2A3036;
  }

  .chat-messages {
    border-top: 1px solid #222629;
    border-right: 1px solid #222629;
    position:relative;
    height:100%; 
    overflow-y:auto;
  }

  .chat-profile {
    border-top: 1px solid #222629;
    width: 280px;
    background: #2A3036;
  }
}