html, body {
  font-family: $base-font-family;
  background: $background-color;
  margin: 0;
  height: 100%;
}

.sidebar {
  background: #16181A;
  border-right: 1px solid #000;
  
  .logo {
    text-align: center;
    margin: 20px 0 40px;
    display: block;
  }
  
  .nav-item {
    display: block;
    margin: 10px 20px;
    width: 44px;
    height: 44px;
    background: #272A2D;
    border-radius: 6px;

    &:hover {
      background: lighten($color: #272A2D, $amount: 5%)
    }

    &.selected {
      background: #0366D6;
    }
  }
}