.projects {
  .projects-pinned {
    margin: 0 30px;
    justify-content: space-between;
    flex-wrap: wrap;
    
    .projects-pinned-item {
      height: 150px;
      border: 1px solid #222629;
      width: 32%;
      margin-bottom: 30px;
      border-radius: 3px;
    }
  }
}