.pull-requests {
  height:100%;
  display:flex;
  flex-direction: row;
  align-content: stretch;

  .pull-requests-sidebar {
    border-top: 1px solid #222629;
    border-right: 1px solid #222629;
    width: 280px;
    overflow-y:auto;
    background: #2A3036;
  }

  .pull-requests-list {
    border-top: 1px solid #222629;
    height:100%; 
    overflow-y:auto;
    background: #2A3036;
  }

  .pull-requests-list-item {
    padding: 30px;
    border-bottom: 1px solid #222629;
  }
}