.pull-requests {
  height: 100%;
  align-content: stretch;
  flex-direction: row;
  overflow: hidden;

  .pull-requests-sidebar {
    border-top: 1px solid #222629;
    border-right: 1px solid #222629;
    width: 280px;
  }

  .pull-requests-list {
    border-top: 1px solid #222629;
    position:relative;
    height:100%; 
    overflow-y:auto;
  }

  .pull-requests-list-item {
    padding: 30px;
    border-bottom: 1px solid #222629;
  }
}